@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: var(--primary-font);
  font-size: var(--primary-font-size);
  font-weight: var(--primary-font-weight);
  font-style: normal;
  color: var(--primary-color);
  letter-spacing: 0.04em;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.title {
  font-family: var(--secondary-font);
  font-size: 30px;
  line-height: 1.27;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.25;
  }
}
.subtitle {
  font-weight: var(--subtitle-font-weight);
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 30px;
    line-height: 1.23;
  }
}
.about {
  background-color: var(--primary-bgc);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 42px;
}

.about__subtitle {
  font-weight: 700;
  margin-bottom: 12px;
}

.about__title {
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 54px;
}

.about__img {
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.about__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: var(--primary-color);
}

.about__btn {
  display: inline-flex;
  align-items: center;
  padding: 12px 34px;
  background: var(--accent-primary-color);
  border-radius: 10px;
  border: none;
  transition: background-color 250ms linear, color 250ms linear;
}
.about__btn:hover {
  background-color: var(--accent-secondary-color);
}
.about__btn:focus {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.about__icon-read-mo {
  margin-left: 5px;
  transition: fill 250ms linear;
}

@media screen and (max-width: 767px) {
  .about__title {
    width: 200px;
  }
  .about__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    box-shadow: 0px -22px 0px 1px rgba(248, 210, 78, 0.7);
  }
  .about__text {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about__text.mob-bottom {
    margin-top: 4px;
    margin-bottom: 20px;
  }
  .about__text.mob-hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-bottom: 48px;
  }
  .about__subtitle {
    font-weight: 800;
    line-height: 1.23;
  }
  .about__title {
    line-height: 1.26;
    letter-spacing: 0.06em;
    margin-bottom: 98px;
  }
  .about__img-text-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about__img {
    box-shadow: 0px -26px 0px 1px rgba(248, 210, 78, 0.7);
  }
  .about__text-btn {
    width: 336px;
  }
  .about__text {
    text-align: left;
  }
  .about__text.top,
.about__text.mob-bottom {
    margin-bottom: 8px;
  }
  .about__text.mob-hidden {
    margin-bottom: 48px;
  }
  .about__btn {
    float: left;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 60px;
  }
  .about__title {
    margin-bottom: 121px;
  }
  .about__img {
    box-shadow: 0px -39px 0px 1px rgba(248, 210, 78, 0.7);
    width: 500px;
  }
  .about__text-btn {
    width: 463px;
    margin-right: 100px;
  }
  .about__text {
    font-size: 16px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Seymour One", sans-serif;
  --primary-font-weight: 400;
  --primary-font-size: 14px;
  --subtitle-font-weight: 800;
  --primary-color: #fcfcfc;
  --secondary-color: #131313;
  --primary-bgc: #84a178;
  --ice-cream-card-bgc: #aec6a5;
  --ice-cofee-card-bgc: #efd478;
  --milkshakes-card-bgc: #d6936d;
  --accent-primary-color: #f8d24e;
  --accent-secondary-color: #0a8817;
  --disabled-color: #ababab;
  --locations-link-color: #d6936d;
  --primary-border: 2px solid #f8d24e;
  --secondary-border: 2px solid #0a8817;
  --disable-border: 2px solid #ababab;
  --modal-form-bgc: rgba(248, 210, 78, 0.1);
  --modal-form-border: 1px solid #84a178;
}/*# sourceMappingURL=index.css.map */