:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;
  --primary-font-weight: 400;
  --primary-font-size: 14px;
  --subtitle-font-weight: 800;
  --primary-color: #fcfcfc;
  --secondary-color: #131313;
  --primary-bgc: #84a178;
  --ice-cream-card-bgc: #aec6a5;
  --ice-cofee-card-bgc: #efd478;
  --milkshakes-card-bgc: #d6936d;
  --ingredients-bgc: #9cbe8f;
  --accent-primary-color: #f8d24e;
  --accent-secondary-color: #0a8817;
  --mobile-menu-bg-color: #85a279;
  --tablet-menu-bg-color: #97af8d;
  --disabled-color: #ababab;
  --locations-link-color: #d6936d;
  --primary-border: 2px solid #f8d24e;
  --secondary-border: 2px solid #0a8817;
  --disable-border: 2px solid #ababab;
  --ingredients-border: 2px solid #9cbe8f;
  --modal-form-bgc: rgba(248, 210, 78, 0.1);
  --modal-form-border: 1px solid #84a178;
  --modal-btn-font-color: #000;
  --modal-btn-font-weight: 600;
  --animation: 250ms linear;
  --color-copyright-text: #7a7a7a;
}
