:root {
    --primary-font: 'Seymour One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --primary-color: #FCFCFC;
    --secondary-color: #131313;;
    --primary-bgc: #84A178;
    --ice-cream-card-bgc: #AEC6A5;
    --ice-cofee-card-bgc: #EFD478;
    --milkshakes-card-bgc: #D6936D;
    --accent-primary-color: #F8D24E;
    --accent-secondary-color: #0A8817;
    --disabled-color: #ABABAB;
    --locations-link-color: #D6936D;
    --primary-border: 2px solid #F8D24E;
    --secondary-border: 2px solid #0A8817;
    --disable-border: 2px solid #ABABAB;
    --modal-form-bgc: rgba(248, 210, 78, 0.1);
    --modal-form-border: 1px solid #84A178;
}