<section class="about" id="about">
  <div class="container">
    <p class="about__subtitle subtitle">tradition and love</p>
    <h2 class="about__title title">how it’s made?</h2>
    <div class="about__img-text-btn">
      <picture>
        <source
          srcset="./images/about/cow_desk.webp 1x, ./images/about/cow_desk@2x.webp 2x"
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="./images/about/cow_desk.jpg 1x, ./images/about/cow_desk@2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/about/cow_tab.webp 1x, ./images/about/cow_tab@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/about/cow_tab.jpg 1x, ./images/about/cow_tab@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about/cow_mob.webp 1x, ./images/about/cow_mob@2x.webp 2x"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="./images/about/cow_mob.jpg 1x, ./images/about/cow_mob@2x.jpg 2x"
          media="(max-width: 767px)"
        />
        <img src="#" alt="cow grazing in the meadow" class="about__img" />
      </picture>
      <div class="about__text-btn">
        <p class="about__text top">
          Ice is a place where you will become not only a little happier, but also healthier. Health
          is the main value for us, and we follow it when creating our handmade desserts.
        </p>
        <p class="about__text mob-bottom">
          We use traditional recipes and 100% natural ingredients. Our products are so natural that
          they can be given to children from the age of three years. Sweets lovers can expect 55
          types of ice cream, 15 types of coffee and 23 milkshakes.
        </p>
        <p class="about__text mob-hidden">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button
          id="read-more-modal-open"
          type="button"
          class="about__btn-read-mo read-more-modal-btn"
        >
          Read more
          <svg aria-label="icon-btn" class="about__icon-read-mo" width="12px" height="12px">
            <use href="./images/icon-button.svg#icon-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
