<section class="advantages">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__img">
          <picture>
            <source
              srcset="./images/advantages/cow.webp 1x, ./images/advantages/cow@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="./images/advantages/cow.png 1x, ./images/advantages/cow@2x.png 2x" />
            <img class="advantages__img-icon" src="./images/advantages/cow.png" alt="cow icon" />
          </picture>
        </div>

        <span class="advantages__title">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <picture>
            <source
              srcset="./images/advantages/weight.webp 1x, ./images/advantages/weight@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./images/advantages/weight.png 1x, ./images/advantages/weight@2x.png 2x"
            />
            <img
              class="advantages__img-icon"
              src="./images/advantages/weight.png"
              alt="weight icon"
            />
          </picture>
        </div>

        <span class="advantages__title">16kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__img">
          <picture>
            <source
              srcset="./images/advantages/ice.webp 1x, ./images/advantages/ice@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="./images/advantages/ice.png 1x, ./images/advantages/ice@2x.png 2x" />
            <img
              class="advantages__img-icon"
              src="./images/advantages/ice.png"
              alt="ice cream icon"
            />
          </picture>
        </div>

        <span class="advantages__title">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
