<main>
  <section class="advantages">
    <div class="container advantages-container">
      <h2 class="visually-hidden">Advantages</h2>
      <ul class="advantages__list list">
        <li class="advantages__item">
          <div class="advantages__img"></div>
          <span class="advantages__title">721</span>
          <p class="advantages__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__item">
          <div class="advantages__img"></div>
          <span class="advantages__title">16kg</span>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
          <div class="advantages__img"></div>
          <span class="advantages__title">84</span>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </section>
</main>
<main>
  <section class="advantages">
    <div class="container advantages-container">
      <h2 class="visually-hidden">Advantages</h2>
      <ul class="advantages__list list">
        <li class="advantages__item">
          <p class="advantages__title">721</p>
          <p class="dvantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
          <span class="advantages__title">16kg</span>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
          <span class="advantages__title">84</span>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </section>
</main>
