<div class="buy-now-backdrop buy-now-backdrop__position is-hidden" data-modal>
  <div class="buy-now-modal buy-now-modal__position">
    <svg class="buy-now-modal__cross" width="20" height="20" data-modal-close>
      <use href="../images/modal-windows/clarity_close-line.svg"></use>
    </svg>

    <p class="buy-now__text">Buy now</p>

    <div class="ingredient__box">
      <ul class="ingredient link">
        <li class="ingredient__item">
          <picture>
            <source
              srcset="
                ./images/modal-windows/ice-coffee.jpg
              "
              media="(min-width: 1200px)"
            />
          
            <source
              srcset="
                
              "
              media="(min-width: 768px)"
            />
          
            <source
              srcset="
                
              "
              media="(max-width: 767px)"
            />
            <img srcset="./images/modal-windows/ice-coffee.jpg" 
            src="../images/modal-windows/ice-coffee.jpg" alt="ice coffee" width="131" height="130"/>
          </picture>
          <p class="ingredient__text">ice coffee</p>
        </li>

        <li class="ingredient__item">
          <picture>
            <source
              srcset="
                ./images/modal-windows/ice-cream.jpg.
              "
              media="(min-width: 1200px)"
            />
          
            <source
              srcset="
                
              "
              media="(min-width: 768px)"
            />
          
            <source
              srcset="
                
              "
              media="(max-width: 767px)"
            />
            <img srcset="./images/modal-windows/ice-cream.jpg" 
            src="../images/modal-windows/ice-cream.jpg" alt="ice cream" width="131" height="130"/>
          </picture>
          <p class="ingredient__text">ice cream</p>
        </li>
        <li class="ingredient__item">
          <picture>
            <source
              srcset="
                ./images/modal-windows/milk.jpg.
              "
              media="(min-width: 1200px)"
            />
          
            <source
              srcset="
                
              "
              media="(min-width: 768px)"
            />
          
            <source
              srcset="
                
              "
              media="(max-width: 767px)"
            />
            <img srcset="./images/modal-windows/milk.jpg" 
            src="../images/modal-windows/milk.jpg" alt="milk" width="131" height="130"/>
          </picture>
          <p class="ingredient__text">milkshake</p>
        </li>
      </ul>
    </div>

    <form class="form">
      <div class="form__box">
        <label for="name-one" class="form__label"></label>
        <!-- <div class="icon"> -->
        <input
          type="text"
          class="icon-input"
          name="name"
          id="name-one"
          placeholder="Name"
          autocomplete="off"
        />

        <!-- </div> -->
      </div>

      <div class="form__box">
        <label for="name-tel" class="form__label"></label>
        <!-- <div class="icon"> -->
        <input
          type="tel"
          class="icon-input"
          name="name"
          id="name-tel"
          placeholder="Phone"
          autocomplete="off"
        />

        <!-- </div> -->
      </div>

      <div class="coments modal__coments">
        <label for="comments" class="coments__label"></label>
        <textarea
          class="coments__text"
          name="comments"
          id="comments"
          rows="8"
          placeholder="Comment"
        ></textarea>
      </div>

      <button class="button buy-now-modal-btn" type="submit">Submit</button>
    </form>
  </div>
</div>
