<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact-list">
      <li class="contact-list__item">
        <div class="contact-block">
          <p class="contact__name">Cafe</p>
          <h3 class="contact__city">Chicago</h3>
          <a
            href="https://bit.ly/3eeHBzH"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contact__location"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <div class="contact-block contact-block--schedule">
          <ul>
            <li class="contact__timming">
              <p class="contact__day">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contact__day">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <ul class="communication">
          <li><a class="communication__link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a></li>
          <li>
            <a class="communication__link" href="maito:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contact-list__item">
        <div class="contact-block">
          <p class="contact__name contact__name--truck">FoodTruck</p>
          <h3 class="contact__city">Los Angeles</h3>
          <a
            href="https://bit.ly/3eeHBzH"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contact__location"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <div class="contact-block contact-block--schedule">
          <ul>
            <li class="contact__timming">
              <p class="contact__day">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contact__day">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <ul class="communication">
          <li>
            <a class="communication__link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="communication__link" href="maito:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="contact-list__item">
        <div class="contact-block">
          <p class="contact__name">Cafe</p>
          <h3 class="contact__city">New York</h3>
          <a
            href="https://bit.ly/3eeHBzH"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contact__location"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <div class="contact-block contact-block--schedule">
          <ul>
            <li class="contact__timming">
              <p class="contact__day">Monday - Friday</p>
              <p class="contact__time">06:00 AM - 10:00 PM</p>
            </li>
            <li>
              <p class="contact__day">Saturday - Sunday</p>
              <p class="contact__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <ul class="communication">
          <li>
            <a class="communication__link" href="tel:+61(0)383766284">+61(0) 383 766 284 </a>
          </li>
          <li>
            <a class="communication__link" href="maito:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="buttons-list">
      <li class="buttons-list__item">
        <button type="button" class="our-locations-modal-btn" id="our-locations-modal-open">
          Our Locations
          <svg class="arrow" width="12" height="12" aria-label="Exit to locations">
            <use href="/src/images/icon-button.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
      <li class="buttons-list__item">
        <button type="button" class="franchise-modal-btn" id="franchise-modal-open">
          Franchise
          <svg class="arrow" width="12" height="12" aria-label="Exit to franchise">
            <use href="/src/images/icon-button.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
