<section class="customer-reviews" id="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer review</h2>
    <div class="slider">
      <div class="reviews" id="slider-reviews">
        <div class="review review_active">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customer-photo-1.webp    1x,
                ./images/customer-reviews/customer-photo-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/customer-photo-1.png    1x,
                ./images/customer-reviews/customer-photo-1@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="review__image"
              src="./images/customer-reviews/customer-photo-1.png"
              alt="Girl"
            />
          </picture>
          <p class="review__text-block">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <p class="review__address">Emily, Los Angeles</p>
        </div>
        <div class="review">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customer-photo-2.webp    1x,
                ./images/customer-reviews/customer-photo-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/customer-photo-2.png    1x,
                ./images/customer-reviews/customer-photo-2@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="review__image"
              src="./images/customer-reviews/customer-photo-2.png"
              alt="Man"
            />
          </picture>
          <p class="review__text-block">
            I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe
            to everyone I know.
          </p>
          <p class="review__address">Sam, Los Angeles</p>
        </div>
        <div class="review">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customer-photo-3.webp    1x,
                ./images/customer-reviews/customer-photo-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/customer-photo-3.png    1x,
                ./images/customer-reviews/customer-photo-3@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="review__image"
              src="./images/customer-reviews/customer-photo-3.png"
              alt="Girl"
            />
          </picture>
          <p class="review__text-block">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <p class="review__address">Diana, Chicago</p>
        </div>
        <div class="review">
          <picture>
            <source
              srcset="
                ./images/customer-reviews/customer-photo-4.webp    1x,
                ./images/customer-reviews/customer-photo-4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/customer-reviews/customer-photo-4.png    1x,
                ./images/customer-reviews/customer-photo-4@2x.png 2x
              "
              type="image/png"
            />
            <img
              class="review__image"
              src="./images/customer-reviews/customer-photo-4.png"
              alt="Man"
            />
          </picture>
          <p class="review__text-block">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <p class="review__address">Bryan, New-York</p>
        </div>
      </div>
      <div class="customer-reviews__dots dots" id="slider-dots">
        <div class="dots__dot dots__dot_active"></div>
        <div class="dots__dot"></div>
        <div class="dots__dot"></div>
        <div class="dots__dot"></div>
      </div>
    </div>
  </div>
</section>
