<div class="footer">
  <div class="container">
    <div class="thumb">
      <div class="footer__title">
        <p class="footer__text">homemade ice cream made</p>
        <p class="footer__slog">with passion</p>
      </div>

      <div class="footer__contacts">
        <ul class="footer__soc list">
          <li class="footer__item">
            <a href="https://github.com" class="footer__link" target="_blank">
              <svg aria-label="github icon" class="footer__icon footer__icon_github">
                <use href="./images/body/symbol-footer.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a href="https://web.telegram.org" class="footer__link" target="_blank">
              <svg aria-label="telegram icon" class="footer__icon footer__icon_telegram">
                <use href="./images/body/symbol-footer.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a href="https://www.facebook.com" class="footer__link" target="_blank">
              <svg aria-label="facebook icon" class="footer__icon footer__icon_facebook">
                <use href="./images/body/symbol-footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__communication">
          <span class="footer__tell">
            Feel free to contact &nbsp;
            <a class="footer__number" href="tel:+61(0)383766284">+61 (0) 383 766 284</a></span
          >
        </div>
      </div>
    </div>
  </div>

  <div class="footer__copyright">
    <span class="footer__copyright-text"> &copy;2022 - IceCream. All Rights Reserved.</span>
  </div>
</div>
