<div class="backdrop is-hidden" id="franchise-modal">
  <div class="modal__franchise">
    <div class="modal__closeBtn">
      <button class="modal__button--close" id="franchise-modal-close">
        <svg class="modal__icon" width="12" height="12" aria-label="close map">
          <use href="./images/close_btn.svg#icon-close_btn"></use>
        </svg>
      </button>
    </div>
    <div class="modal__container modal__container--nonemargin">
      <form class="franchise-form">
        <p class="franchise-form__title">Thank you for your interest in owning an Ice Cream shop</p>
        <p class="franchise__notice">
          Due to the overwhelming volume of franchise requests we are not accepting new franchisee
          applications at this time. Once the application process resumes, we will contact you for
          further information. Please fill out the contact information below and we will reach out
          for additional information. We appreciate your patience.
        </p>
        <div class="franchise-form__field">
          <label for="franchise-name"></label>
          <input
            class="franchise-form__input"
            type="text"
            name="user-name"
            id="franchise-name"
            pattern="[A-Za-z0-9_]{1,15}"
            placeholder="Name"
            required
          />
        </div>
        <div class="franchise-form__field">
          <label for="franchise-tel"></label>
          <input
            class="franchise-form__input"
            type="tel"
            name="tel"
            id="franchise-tel"
            pattern="[0-9]{3}[0-9]{3}[0-9]{3}"
            placeholder="Phone"
            title="exmple: 643727423"
            required
          />
        </div>
        <div class="franchise-form__field">
          <label for="franchise-mail"></label>
          <input
            class="franchise-form__input"
            type="email"
            name="mail"
            id="franchise-mail"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            title="exmple: icecream@ice.crem"
            placeholder="Email"
            required
          />
        </div>
        <div>
          <label class="form__label" for="franchise-comment"></label>
          <textarea
            class="form__textarea"
            name="comment"
            id="franchise-comment"
            placeholder="Comment"
          ></textarea>
        </div>

        <button class="submit-modal-btn submit-modal-btn--position" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
