<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery of icecream</h2>
    <div class="gallery__photo" id="pictures">
      <picture>
        <source
          srcset="
            ./images/gallery/icecream-desktop.webp    1x,
            ./images/gallery/icecream-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/icecream-desktop.jpg    1x,
            ./images/gallery/icecream-desktop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/icecream-tablet.webp    1x,
            ./images/gallery/icecream-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/icecream-tablet.jpg    1x,
            ./images/gallery/icecream-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/icecream-mobile.webp    1x,
            ./images/gallery/icecream-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/icecream-mobile.jpg    1x,
            ./images/gallery/icecream-mobile@2x.jpg 2x
          "
        />
        <img src="./images/gallery/icecream-mobile.jpg" alt="icecream1" />
      </picture>
    </div>
  </div>
</section>
