<section class="gallery">
  <div class="container">
    <div class="wrap">
      <h2 class="visually-hidden">Gallery of icecream</h2>
      <div class="slider-gallery">
        <button id="right-arrow" class="arrow-gallery arrow-right">
          <svg class="arrow-gallery__icon">
            <use href="./images/icon-button.svg#icon-btn"></use>
          </svg>
        </button>
        <button id="left-arrow" class="arrow-gallery arrow-left">
          <svg class="arrow-gallery__icon">
            <use href="./images/icon-button.svg#icon-btn"></use>
          </svg>
        </button>
        <div class="gallery__photo" id="pictures">
          <div class="picture picture_active">
            <picture>
              <source
                srcset="
                  ./images/gallery/icecream-desktop.webp    1x,
                  ./images/gallery/icecream-desktop@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-desktop.jpg    1x,
                  ./images/gallery/icecream-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/icecream-tablet.webp    1x,
                  ./images/gallery/icecream-tablet@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-tablet.jpg    1x,
                  ./images/gallery/icecream-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/icecream-mobile.webp    1x,
                  ./images/gallery/icecream-mobile@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-mobile.jpg    1x,
                  ./images/gallery/icecream-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/gallery/icecream-mobile.jpg" alt="ice cream" />
            </picture>
          </div>
          <div class="picture">
            <picture>
              <source
                srcset="
                  ./images/gallery/icecream-2-desktop.webp    1x,
                  ./images/gallery/icecream-2-desktop@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-2-desktop.jpg    1x,
                  ./images/gallery/icecream-2-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/icecream-2-tablet.webp    1x,
                  ./images/gallery/icecream-2-tablet@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-2-tablet.jpg    1x,
                  ./images/gallery/icecream-2-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/icecream-2-mobile.webp    1x,
                  ./images/gallery/icecream-2-mobile@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-2-mobile.jpg    1x,
                  ./images/gallery/icecream-2-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/gallery/icecream-2-mobile.jpg" alt="ice cream" />
            </picture>
          </div>
          <div class="picture">
            <picture>
              <source
                srcset="
                  ./images/gallery/icecream-3-desktop.webp    1x,
                  ./images/gallery/icecream-3-desktop@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-3-desktop.jpg    1x,
                  ./images/gallery/icecream-3-desktop@2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./images/gallery/icecream-3-tablet.webp    1x,
                  ./images/gallery/icecream-3-tablet@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-3-tablet.jpg    1x,
                  ./images/gallery/icecream-3-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/gallery/icecream-3-mobile.webp    1x,
                  ./images/gallery/icecream-3-mobile@2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/gallery/icecream-3-mobile.jpg    1x,
                  ./images/gallery/icecream-3-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/gallery/icecream-3-mobile.jpg" alt="ice cream" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
