<div class="page-header__wrapper">
    <header class="page-header">
        <div class="container page-header__container">
            <a class="page-header__logo" href="#">
                <picture>
                    <source srcset="./images/logo/logo-desk.png 1x, ./images/logo/logo-desk@2x.png 2x"
                        media="(min-width:1200px)" type="image/png">
                    <source srcset="./images/logo/logo-tab.png 1x, ./images/logo/logo-tab@2x.png 2x"
                        media="(min-width:768px)" type="image/png">
                    <source srcset="./images/logo/logo-mobile.png 1x, ./images/logo/logo-mobile@2x.png 2x"
                        media="(max-width:767px)" type="image/png">
                    <img src="./images/logo/logo-mobile.png" alt="ice cream logo">
                </picture>
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="#">Home</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="#">How it’s made?</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="#">Our products</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <ul class="page-header__btn-list">
                <li class="item__button-menu">
                    <button type="button" class="page-header__menu-btn js-open-menu">
                        <svg class="burger-icon" aria-label="mobile menu icon">
                            <use href="./images/sprite.svg#icon-burger"></use>
                        </svg>
                    </button>
                </li>
                <li class="item__button-order">
                    <button type="button" class="button page-header__button-order">Buy now</button>
                </li>
            </ul>
        </div>


        <div class="mobile-menu js-menu-container">
            <div class="container">
                <a class="page-header__logo" href="#">
                    <picture>
                        <source srcset="./images/logo/logo-desk.png 1x, ./images/logo/logo-desk@2x.png 2x"
                            media="(min-width:1200px)" type="image/png">
                        <source srcset="./images/logo/logo-tab.png 1x, ./images/logo/logo-tab@2x.png 2x"
                            media="(min-width:768px)" type="image/png">
                        <source srcset="./images/logo/logo-mobile.png 1x, ./images/logo/logo-mobile@2x.png 2x"
                            media="(max-width:767px)" type="image/png">
                        <img src="./images/logo/logo-mobile.png" alt="ice cream logo">
                    </picture>
                </a>
                <button type="button" class="mobile-menu__close-btn mobile-menu__close-btn--position js-close-menu">
                    <svg class="mobile-menu__close-icon" aria-label="mobile menu close icon">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
                <nav class="mobile-menu__nav">
                    <ul class="mobile-menu__list">
                        <li>
                            <a class="mobile-menu__link" href="#">Home</a>
                        </li>
                        <li>
                            <a class="mobile-menu__link" href="#">How it’s made?</a>
                        </li>
                        <li>
                            <a class="mobile-menu__link" href="#">Our products</a>
                        </li>
                        <li>
                            <a class="mobile-menu__link" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
                <button type="button" class="button mobile-menu__order-btn">Buy now</button>
            </div>
        </div>
    </header>
</div>