<div class="page-header__wrapper">
  <div class="page-header">
    <div class="container page-header__container">
      <a class="page-header__logo" href="#">
        <picture>
          <source
            srcset="./images/logo/logo-desk.webp 1x, ./images/logo/logo-desk@2x.webp 2x"
            media="(min-width:1200px)"
            type="image/webp"
          />
          <source
            srcset="./images/logo/logo-tab.webp 1x, ./images/logo/logo-tab@2x.webp 2x"
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="./images/logo/logo-mobile.webp 1x, ./images/logo/logo-mobile@2x.webp 2x"
            media="(max-width:767px)"
            type="image/webp"
          />
          <source
            srcset="./images/logo/logo-desk.png 1x, ./images/logo/logo-desk@2x.png 2x"
            media="(min-width:1200px)"
            type="image/png"
          />
          <source
            srcset="./images/logo/logo-tab.png 1x, ./images/logo/logo-tab@2x.png 2x"
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="./images/logo/logo-mobile.png 1x, ./images/logo/logo-mobile@2x.png 2x"
            media="(max-width:767px)"
            type="image/png"
          />
          <img src="./images/logo/logo-mobile.png" alt="ice cream logo" />
        </picture>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__link" href="#">Home</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#about">How it’s made?</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#products">Our products</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
      <ul class="page-header__btn-list">
        <li class="item__button-menu">
          <button
            type="button"
            class="page-header__menu-btn js-open-menu"
            aria-label="menu button"
            aria-controls="mobile-menu"
            aria-expanded="false"
          >
            <svg class="burger-icon" aria-label="mobile menu icon">
              <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
          </button>
        </li>
        <li class="item__button-order">
          <button
            type="button"
            class="buy-now-modal-btn button-order"
            id="buy-now-modal-open"
            aria-label="buy now button"
          >
            Buy now
            <svg class="button-icon" aria-label="buy now icon">
              <use href="./images/icon-button.svg#icon-btn"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="container">
    <ul class="mobile-menu__logo-and-button_wrapper">
      <li>
        <a class="page-header__logo" href="#">
          <picture>
            <source
              srcset="./images/logo/logo-desk.webp 1x, ./images/logo/logo-desk@2x.webp 2x"
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="./images/logo/logo-tab.webp 1x, ./images/logo/logo-tab@2x.webp 2x"
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="./images/logo/logo-mobile.webp 1x, ./images/logo/logo-mobile@2x.webp 2x"
              media="(max-width:767px)"
              type="image/webp"
            />
            <source
              srcset="./images/logo/logo-desk.png 1x, ./images/logo/logo-desk@2x.png 2x"
              media="(min-width:1200px)"
              type="image/png"
            />
            <source
              srcset="./images/logo/logo-tab.png 1x, ./images/logo/logo-tab@2x.png 2x"
              media="(min-width:768px)"
              type="image/png"
            />
            <source
              srcset="./images/logo/logo-mobile.png 1x, ./images/logo/logo-mobile@2x.png 2x"
              media="(max-width:767px)"
              type="image/png"
            />
            <img src="./images/logo/logo-mobile.png" alt="ice cream logo" />
          </picture>
        </a>
      </li>
      <li>
        <button
          type="button"
          class="mobile-menu__close-btn js-close-menu"
          aria-label="close mobile menu button"
        >
          <svg class="mobile-menu__close-icon" aria-label="mobile menu close icon">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </li>
    </ul>
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__list">
        <li>
          <a class="mobile-menu__link" href="#" id="link1">Home</a>
        </li>
        <li>
          <a class="mobile-menu__link" href="#about" id="link2">How it’s made?</a>
        </li>
        <li>
          <a class="mobile-menu__link" href="#products" id="link3">Our products</a>
        </li>
        <li>
          <a class="mobile-menu__link" href="#contacts" id="link4">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="buy-now-modal-btn button-order button-order_tablet-menu-hidden"
      id="buy-now-modal-open-mobile"
      aria-label="buy now button"
    >
      Buy now
      <svg class="button-icon" aria-label="buy now icon">
        <use href="./images/icon-button.svg#icon-btn"></use>
      </svg>
    </button>
  </div>
</div>
