<header class="page-header">
    <div class="container page-header__container">
        <a class="page-header__logo" href="#"></a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="#">Home</a>
                </li>
                <li class="nav-list__item">
                    <a href="#">How it’s made?</a>
                </li>
                <li class="nav-list__item">
                    <a href="#">Our products</a>
                </li>
                <li class="nav-list__item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <ul class="page-header__btn-list">
            <li class="item__button-menu">
                <button type="button" class="page-header__menu-btn">
                    <svg class="burger-icon" aria-label="mobile menu icon">
                        <use href="./images/sprite.svg#icon-burger"></use>
                    </svg>
                </button>
            </li>
            <li class="item__button-order">
                <button type="button" class="button page-header__button-order">Buy now</button>
            </li>
        </ul>
    </div>

    <div class="mobile-menu">
        <button type="button" class="mobile-menu__close-btn">
            <svg class="mobile-menu__close-icon" aria-label="mobile menu close icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <nav>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">How it’s made?</a>
                </li>
                <li>
                    <a href="#">Our products</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="button page-header__button-order">Buy now</button>
    </div>
</header>