<section class="products" id="products">
  <div class="container">
    <p class="products-section__subtitle subtitle">100% natural</p>
    <h2 class="products-section__title title">products</h2>
    <ul class="products__list">
      <li class="products__card ice-cream">
        <div class="gradient"></div>
        <h3 class="products__title">ice cream</h3>
        <p class="products__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
        </p>
        <button type="button" class="products-card-button">
          <svg
            aria-label="arrow"
            class="products-card-button__icon"
            width="40px"
            height="20px"
            id="products-modal-open-2"
          >
            <use href="/src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__card ice-coffee">
        <div class="gradient"></div>
        <h3 class="products__title">ice coffee</h3>
        <p class="products__description">
          Fragrant invigorating drink created from 100% natural ingredients without the use of
          preservatives and flavor enhancers
        </p>
        <button type="button" class="products-card-button" id="products-modal-open-3">
          <svg aria-label="arrow" class="products-card-button__icon" width="40px" height="20px">
            <use href="/src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__card milkshakes">
        <div class="gradient"></div>
        <h3 class="products__title">milkshakes</h3>
        <p class="products__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
          other sweets of your choice
        </p>
        <button type="button" class="products-card-button" id="products-modal-open-4">
          <svg aria-label="arrow" class="products-card-button__icon" width="40px" height="20px">
            <use href="/src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
