<main>
  <div class="backdrop is-hidden" products-modal-open>
    <div class="products-modal">
      <button type="button" class="products-modal__close" products-modal-close>
        <svg class="products-modal__close-icon" aria-label="icon close black">
          <use href="./images/about/about_sprite.svg#icon-close-black"></use>
        </svg>
      </button>
      <h2>Chokolate icecream</h2>
      <picture>
        <source
          srcset="
            ./images/modal_Chokolate_icecream/.webp    1x,
            ./images/modal_Chokolate_icecream/@2x.webp 2x
          "
          media="(min-width: 131px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/modal_Chokolate_icecream/.jpg    1x,
            ./images/modal_Chokolate_icecream/@2x.jpg 2x
          "
          media="(min-width: 131px)"
        />

        <img src="#" alt="Chokolate_icecream" class="Chokolate_icecream__img" />
      </picture>
      <ul class="kcal">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <p>Ingredients</p>
      <ul>
        <li><p>Milk</p></li>
        <li><p>Belgian chocolate</p></li>
        <li><p>Cream</p></li>
        <li><p>Cocoa powder</p></li>
        <li><p>Sugar</p></li>
        <li><p>Vanilla sugar</p></li>
      </ul>
      <ul>
        <li><p>100ml</p></li>
        <li><p>20g</p></li>
        <li><p>150 ml</p></li>
        <li><p>30g</p></li>
        <li><p>40g</p></li>
        <li><p>10g</p></li>
      </ul>
      <form></form>
    </div>
  </div>
</main>
