<!--окно с роликом-->

<div class="backdrop is-hidden" id="read-more-modal">
  <div class="read-more-modal">
    <button type="button" class="read-more-modal__close" id="read-more-modal-close">
      <svg class="read-more-modal__close-icon" aria-label="icon close black">
        <use href="./images/icon-close-button.svg#icon-close-button"></use>
      </svg>
    </button>
    <p class="read-more-modal__title">How it’s made?</p>
    <iframe
      class="read-more-modal__frame"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/47k5LPlOmFc"
      title="YouTube video player"
      style="border-style: none"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <p class="read-more-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et
    </p>
  </div>
</div>
