<!--окно с роликом-->
<main>
  <div class="backdrop is-hidden" read-more-modal>
    <div class="read-more-modal">
      <button type="button" class="read-more-modal__close" read-more-modal-close>
        <svg class="read-more-modal__close-icon" aria-label="icon close black">
          <use href="./images/about/about_sprite.svg#icon-close-black"></use>
        </svg>
      </button>
      <p class="read-more-modal__title">How it’s made?</p>
      <div class="read-more-modal__video">
        <iframe
          class="read-more-modal__frame"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/JPvjUKT1pcQ"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <p class="read-more-modal__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et
      </p>
    </div>
  </div>
</main>
