.buy-now-modal-btn {
  width: 152px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-primary-color);
  border-radius: 10px;
  font-weight: var(--modal-btn-font-weight);
  font-size: 14px;
  line-height: 1.21;
  color: var(--modal-btn-font-color);

  &:hover,
  &:focus {
    background-color: var(--accent-secondary-color);
  }

  &:focus {
    color: var(--primary-color);
    outline: none;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }
}
