.modal-buy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 644px;
  padding: 28px;
  background-color: #ffffff;
  border-radius: 10px;
  border: var(--primary-border);
  overflow: auto;
  transition: transform var(--animation), opacity var(--animation);

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;
    padding: 32px 54px;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}

// форма модалки

.modal-buy__title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-color);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal-buy__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    column-gap: 32px;
    margin-top: 35px;
    margin-bottom: 40px;
  }
}

.modal-buy__block {
  position: relative;
  display: block;
  margin-top: 86px;
  @media screen and (min-width: 768px) {
    margin-top: 63px;
  }
}

.modal-buy__img {
  position: absolute;
  display: block;
  top: -65px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-buy__img_kelsey {
  box-shadow: 0px 7px 0px 1px rgba(10, 136, 23, 0.25);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
}

.modal-buy__img_pariwat {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.25), rgba(248, 210, 78, 0.25)), #d9d9d9;
  box-shadow: 0px 7px 0px 1px rgba(248, 210, 78, 0.7);
}

.modal-buy__img_victor {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 7px 0px 1px rgba(213, 117, 63, 0.7);
}

.modal-buy__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  width: 132px;
  height: 136px;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  cursor: pointer;
  transition: background-color var(--animation);
}

.modal-buy__agree:not(:checked) + .modal-buy__text {
  background-color: var(--primary-color);
}

.modal-buy__agree:checked + .modal-buy__text_bc-green {
  background-color: var(--ice-cream-card-bgc);
}

.modal-buy__agree:checked + .modal-buy__text_bc-yellow {
  background-color: var(--ice-cofee-card-bgc);
}

.modal-buy__agree:checked + .modal-buy__text_bc-brown {
  background-color: var(--milkshakes-card-bgc);
}

.modal-buy__text_kelsey {
  border-left: 2px solid var(--ice-cream-card-bgc);
  border-right: 2px solid var(--ice-cream-card-bgc);
  border-bottom: 2px solid var(--ice-cream-card-bgc);
}

.modal-buy__text_pariwat {
  border-left: 2px solid var(--ice-cofee-card-bgc);
  border-right: 2px solid var(--ice-cofee-card-bgc);
  border-bottom: 2px solid var(--ice-cofee-card-bgc);
}
.modal-buy__text_victor {
  border-left: 2px solid var(--milkshakes-card-bgc);
  border-right: 2px solid var(--milkshakes-card-bgc);
  border-bottom: 2px solid var(--milkshakes-card-bgc);
}

.modal-buy__label {
  display: flex;
  flex-direction: column;
}

.modal-buy__input {
  border-radius: 10px;
  padding: 8px 12px 7px;
  width: 100%;
  height: 32px;
  border: var(--modal-form-border);
  margin-bottom: 12px;
  background-color: var(--modal-form-bgc);
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.41;
  padding: 12px 12px;
  outline: none;
  transition: border-color var(--animation);

  &:not(:placeholder-shown):required:invalid {
    border-color: rgb(255, 0, 0);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.41;
    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.42;
    }
  }

  &:focus {
    border-color: var(--accent-primary-color);
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-buy__coments {
  resize: none;
  width: 100%;
  height: 64px;
  letter-spacing: 0.01em;
  padding: 5px 12px;
  margin-bottom: 20px;
  background-color: var(--modal-form-bgc);
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.41;
  border: var(--modal-form-border);
  border-radius: 10px;
  outline: 1px solid transparent;
  transition: border var(--animation);

  &::placeholder {
    font-size: 12px;
    line-height: 1.41;
    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.42;
    }
  }

  &:focus {
    border: 1px solid var(--accent-primary-color);
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
