.modal-buy {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  border: var(--primary-border);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  width: 280px;
  height: 650px;
  background-color: #ffffff;

  border-radius: 4px;
  padding: 28px;
  transition: transform var(--animation), opacity var(--animation);
  transform: scale(1) translate(-50%, -50%);
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;
    padding: 32px 54px;
  }
}

.modal-buy.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  padding: 0 0;
  right: 8px;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: none;

  color: #000000;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--animation);
  &:hover,
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
  }
}

.close-icon {
  fill: currentColor;
}

// форма модалки

.modal-buy__title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;

  align-items: center;
  display: flex;
  justify-content: center;

  color: #131313;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal-buy__list {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 32px;
    margin-top: 35px;
    margin-bottom: 40px;
  }
}

.modal-buy__block {
  position: relative;
  width: 130px;
  height: 136px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 86px;
  @media screen and (min-width: 768px) {
    margin-top: 63px;
  }
}

.modal-buy__img {
  position: absolute;
  display: block;
  top: -65px;

  border-radius: 50%;
}

.modal-buy__img_kelsey {
  box-shadow: 0px 7px 0px 1px rgba(10, 136, 23, 0.25);
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
}

.modal-buy__img_pariwat {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.25), rgba(248, 210, 78, 0.25)), #d9d9d9;
  box-shadow: 0px 7px 0px 1px rgba(248, 210, 78, 0.7);
}

.modal-buy__img_victor {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 7px 0px 1px rgba(213, 117, 63, 0.7);
}
.modal-buy__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  width: 132px;
  height: 136px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;

  color: var(--secondary-color);
  border-radius: 10px;

  background: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

.modal-buy__text_kelsey {
  border-left: 2px solid #96af8c;
  border-right: 2px solid #96af8c;
  border-bottom: 2px solid #96af8c;
}

.modal-buy__text_pariwat {
  border-left: 2px solid #efd478;
  border-right: 2px solid #efd478;
  border-bottom: 2px solid #efd478;
  background: #efd478;
}
.modal-buy__text_victor {
  border-left: 2px solid #d6936d;
  border-right: 2px solid #d6936d;
  border-bottom: 2px solid #d6936d;
}

.modal-bay__agree {
  position: absolute;
  width: 130px;
  height: 260px;
}

.modal-buy__label {
  display: flex;
  flex-direction: column;
  background: rgba(248, 210, 78, 0.1);
}

.modal-buy__input {
  border-radius: 10px;
  padding: 8px 12px 7px;
  width: 100%;
  height: 32px;
  border: var(--modal-form-border);
  margin-bottom: 12px;
  background-color: rgba(248, 210, 78, 0.1);
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.41;
  padding: 12px 12px;
  outline: none;
  transition: border-color 250ms linear;

  &:not(:placeholder-shown):required:invalid {
    border-color: rgb(255, 0, 0);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.41;
    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.42;
    }
  }

  &:focus {
    border-color: var(--accent-primary-color);
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-buy__coments {
  resize: none;
  width: 100%;
  height: 64px;
  letter-spacing: 0.01em;
  padding: 5px 12px;
  margin-bottom: 20px;

  background-color: rgba(248, 210, 78, 0.1);
  color: var(--secondary-color);

  font-size: 12px;
  line-height: 1.41;

  border: var(--modal-form-border);
  border-radius: 10px;
  outline: 1px solid transparent;

  transition: border 250ms linear;

  &::placeholder {
    font-size: 12px;
    line-height: 1.41;
    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.42;
    }
  }

  &:focus {
    border: 1px solid var(--accent-primary-color);
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
    font-size: 14px;
    line-height: 1.42;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
