.modal__map {
  position: relative;
  padding: 28px;

  top: 50%;
  left: 50%;

  width: 280px;

  transform: scale(1) translate(-50%, -50%);

  transition: transform var(--animation), opacity var(--animation);

  border-radius: 10px;
  border: var(--primary-border);

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    width: 570px;
    padding: 32px 60px;
  }
}

.modal__title {
  margin-bottom: 26px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  color: var(--secondary-color);
  font-family: var(--secondary-font);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.4;

    margin-bottom: 32px;
  }
}

.map {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}

.modal__closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.modal__icon {
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal__button--close {
  position: relative;
  display: block;

  width: 20px;
  height: 20px;
  cursor: pointer;

  border-radius: 50%;

  background: var(--primary-color);
  fill: var(--secondary-color);

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.modal__container {
  margin-bottom: 24px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.open-map-modal-btn--position {
  margin: 0 auto;
}
