.submit-modal-btn {
  width: 114px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-primary-color);
  border-radius: 10px;
  font-weight: var(--modal-btn-font-weight);
  font-size: 12px;
  line-height: 1.25;
  color: var(--secondary-color);
  transition: background-color var(--animation), color var(--animation);

  &:hover {
    background-color: var(--accent-secondary-color);
  }

  &:focus {
    background-color: var(--accent-secondary-color);
    color: var(--primary-color);
    outline: none;
  }

  &:disabled {
    background-color: var(--disabled-color);
  }
}

@media screen and (min-width: 1200px) {
  .submit-modal-btn {
    width: 121px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.submit-modal-btn_mobile-ingredients {
  width: 132px;
  font-size: 14px;
  line-height: 1.21;
}

.submit-modal-btn--position {
  margin: 0 auto;
}
