.advantages {
  background-color: var(--primary-bgc);
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    column-gap: 80px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 32px;
  }
}

.advantages__img {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  display: block;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.23;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.22;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
  color: var(--primary-color);
  @media screen and (min-width: 768px) {
    max-width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 368px;
    font-size: 16px;
    line-height: 176%;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.advantages__item:nth-child(3) {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-bottom: 204px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 180px;
  }
}
