.slider {
  margin: 0 auto;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.dots__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: background-color var(--animation);

  &_active,
  &:hover {
    background-color: var(--primary-bgc);
  }
}

.reviews {
  position: relative;
  overflow: hidden;
}

.review {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity var(--animation), position var(--animation);
}

.review_inactive {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.review_active {
  opacity: 1;
  position: relative;
}

.review__image {
  margin-bottom: 32px;
}

.review__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 34px 39px;
  border-radius: 10px;
  background-color: var(--primary-bgc);
  font-size: 12px;
  line-height: 255%;
  letter-spacing: 0;
}

.review__address {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .slider {
    margin: 0 16px;
  }

  .review__image {
    margin-bottom: 28px;
  }

  .review__text-block {
    margin-bottom: 32px;
    padding: 29px 80px 28px 80px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }

  .review__address {
    margin-bottom: 32px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    margin: 0 100px;
  }

  .review__image {
    margin-bottom: 32px;
  }

  .review__text-block {
    padding: 39px 74px;
  }
}
