.footer {
  background-color: rgba(132, 161, 120, 1);

  .container {
    margin-bottom: 49px;
}}

.footer__title {
  max-width: 234px;
  margin-bottom: 43px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    max-width: 340px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    max-width: 500px;
    padding-top: 120px;
  }
}

.footer__text {
  font-family: var(--primary-font);
  font-weight: 700;
  color: rgba(252, 252, 252, 1);
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 16px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 9px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    margin-bottom: 14px;
  }
}

.footer__slog {
  max-width: 200px;
  margin-bottom: 40px;
  font-family: var(--primary-font);
  font-size: 34px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    max-width: 500px;
  }
}

.footer__soc {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.footer__soc__item:not(:last-child) {
  margin-right: 30px;
}

.footer__soc__item {
  display: flex;
  width: 32px;
  height: 32px;
  fill: var(--primary-bgc);
  background-color: #f8d24e;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition: 250ms linear;

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }

  &:hover,
  &:focus {
    color: var(--primary-color);
  }
}

.footer__tell__text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: var(--secondary-color);

  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    font-size: 14px;
  }
}

.footer__tell__number {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: var(--primary-color);
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 1, 8;
  }
}

.footer__copyright {
  border-top: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83px;
  @media screen and (min-width: 768px) {
    min-height: 73px;
  }

  @media screen and (min-width: 1200px) {
    min-height: 49px;
  }
}

.footer__copyright-text {
  width: 180px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0 10px;
  color: #7a7a7a;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 316px;
  }
}
