.gallery {
  margin-top: -24px;
  margin-bottom: 60px;
}

.gallery__photo {
  width: 100%;
  object-fit: cover;
  z-index: 100;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: -164px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: -94px;
    margin-bottom: 128px;
  }
}
