.gallery {
  margin-top: -24px;
  margin-bottom: 60px;
}

.gallery__photo {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;

  & img {
    border-radius: 24px;
    overflow: hidden;
  }
}

.picture {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--animation), position var(--animation);
}

.picture_inactive {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.picture_active {
  opacity: 1;
  position: relative;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: -164px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: -94px;
    margin-bottom: 128px;
  }
}
