.gallery {
  margin-top: -24px;
  margin-bottom: 60px;
}

.slider-gallery {
  position: relative;
}

.gallery__photo {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;

  & img {
    border-radius: 24px;
    overflow: hidden;
  }
}

.arrow-gallery {
  display: block;
  position: absolute;
  color: var(--secondary-color);
  cursor: pointer;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all var(--animation);
  padding: 15px;
  z-index: 101;

  &:hover {
    transform: translateY(-50%) scale(1.2);
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.arrow-left {
  transform: translateY(-50%) rotateY(180deg);
  left: 100px;

  &:hover {
    transform: translateY(-50%) rotateY(180deg) scale(1.2);
  }
}

.arrow-right {
  right: 100px;
}

.picture {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity var(--animation), position var(--animation);
}

.picture_inactive {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
}

.picture_active {
  opacity: 1;
  position: relative;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: -164px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: -94px;
    margin-bottom: 128px;
  }
}
