.page-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 777;
    width: 100%;
    max-width: 1200px;

    padding-top: 12px;

    @media screen and (min-width:768px) {
        padding-top: 20px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 8px;
    }

    background-color: var(--primary-bgc);
}

.page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__icon {
    width: 40px;
    height: 37px;

    @media screen and (min-width:768px) {
        width: 48px;
        height: 44px;
    }

    @media screen and (min-width:1200px) {
     width: 60px;
     height: 65px;   
    }
}

@media screen and (min-width:768px) {
    .page-header__btn-list {
        display: flex;
        align-items: center;
        column-gap: 32px;
    }
}

.page-header__menu-btn {
    line-height: 0;
    border: 0;
    padding: 0;
    margin: 0;

    background-color: transparent;
}

.burger-icon {
    width: 32px;
    height: 32px;

    fill: #fff;
}

@media screen and (max-width:1199px) {
   .nav {
       display: none;
   }
}


.mobile-menu {
    display: none;
}