.page-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 777;
  width: 100%;

  padding-top: 12px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
  }
}

.page-header__logo {
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.mobile-menu__close-btn,
.page-header__menu-btn {
  line-height: 0;
  border: 0;
  padding: 0;
  margin: 0;

  background-color: transparent;
}

.mobile-menu__logo-and-button_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 51px;

  @media screen and (min-width: 768px) {
    margin-bottom: 71px;
  }
}

.burger-icon,
.mobile-menu__close-icon {
  width: 32px;
  height: 32px;

  fill: #fff;
}

.page-header__wrapper {
  position: relative;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 777;
  height: 100%;
  width: 100%;

  padding-top: 12px;
  padding-bottom: 63px;

  overflow-y: scroll;
  transform: translateX(100%);

  background-color: var(--mobile-menu-bg-color);

  @media screen and (min-width: 768px) {
    padding-top: 20px;
    background-color: var(--tablet-menu-bg-color);
  }

  &.is-open {
    transform: translateX(0%);
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__nav {
    margin-bottom: 111px;
  }
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  @media screen and (min-width: 768px) {
    row-gap: 40px;
  }
}

.mobile-menu__link {
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  color: var(--primary-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-primary-color);
  }

  @media screen and (max-width: 319px) {
    font-size: 10vw;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.23;
  }
}

.button-order {
  column-gap: 7.23px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .button-order_tablet-menu-hidden {
    display: none;
  }
}

.button-icon {
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 1200px) {
  .page-header__wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .page-header {
    left: auto;
  }
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__button-order {
  display: none;
}

@media screen and (min-width: 768px) {
  .item__button-order {
    display: block;
  }

  .page-header__btn-list {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .item__button-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 27px;
  }

  .nav-list__link {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    padding: 10px 0;

    color: var(--primary-color);

    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--accent-primary-color);
    }
  }
}
